.pagination__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-inline: 20px;
}

.pagination__item {
  font-size: 18px;
  width: 40px;
  height: 40px;
  background-color: inherit;
  border: 1px solid var(--base-color);
  transition-duration: .2s;
}

.pagination__item.active,
.pagination__item:hover {
  background-color: var(--base-color);
  color: white;
}